body, ul, div, form, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px 'Roboto', Helvetica, Arial;
  overflow: auto;
}
form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
form button {
  width: 9%;
  background: rgb(0, 0, 100);
  border: none;
  padding: 10px;
  color: #fff;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #ccc;
}
#messages li:nth-child(even) {
  background: #eee;
}
#users {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
}
